HTML CSS JSResult Skip Results Iframe
EDIT ON
* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orbit-element{
  position: absolute;
  left: 0;
  top: 0;
  /* width: 6px;
  height: 6px;
  background-color: #42567A; */
  width: 56px;
  height: 56px;
  border: #303E5880;
  /* background-color: transparent; */
  border-radius: 100%;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* .orbit-element:hover{
  width: 56px;
  height: 56px;
  border: #303E5880;
  background-color: transparent;
} */
